__pycache__/events.cpython-311.pyc
__pycache__/factories.cpython-311.pyc
__pycache__/goods.cpython-311.pyc
__pycache__/markets.cpython-311.pyc
__pycache__/missions.cpython-311.pyc
__pycache__/organizations.cpython-311.pyc
__pycache__/pirates.cpython-311.pyc
__pycache__/planets.cpython-311.pyc
__pycache__/races.cpython-311.pyc
__pycache__/ships.cpython-311.pyc
__pycache__/stations.cpython-311.pyc
TODO
